<script th:inline="javascript" th:fragment="modalSet (entityName, entityNamePlural)">

    $('document').ready(function () {

        $('#addButton').on('click', function () {

            $('#modalLabel').text('Add ' + [[${entityName}]]);
            $('#form').prop('action', '/' + [[${entityNamePlural}]] + '/addNew');
            $('#form').prop('method', 'post');
        });

        $('table #editButton').on('click', function () {

            $('#modalLabel').text('Edit ' + [[${entityName}]]);
            $('#form').prop('action', '/' + [[${entityNamePlural}]] + '/update');
            $('#form').prop('method', 'put');
        });

        $('table #detailsButton').on('click', function () {

            $('#modalLabel').text([[${entityName}]] + ' Details');
            $('#form').prop('action', '');
            $('#form').prop('method', '');
        });
    });
    
</script>