<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vehicle Movement Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <th:block th:replace="fragments/general.html :: cssImport"></th:block>
</head>

<body>

  <th:block th:replace="fragments/general.html :: header"></th:block>
  <th:block th:replace="fragments/general.html :: sidebar"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Vehicle Movement</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">Vehicles</li>
          <li class="breadcrumb-item active"> Movements</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <th:block
      th:replace="fragments/table.html :: table(objects = ${vehicleMovements}, objName = 'vehicleMovements', fieldNames = ${ { 'id', 'vehicle.name', 'fromLocation.description', 'fromDate', 'toLocation.description', 'toDate'} })">
    </th:block>

  </main><!-- End #main -->

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel"></h5>
        </div>
        <div class="modal-body">
          <form id="form">

            <div class="form-group">
              <label for="id" class="col-form-label">Id:</label>
              <input type="text" class="form-control" id="id" name="id">
            </div>

            <div class="form-group">
              <label for="vehicleId" class="col-form-label">Vehicle:</label>
              <select class="form-control" id="vehicleId" name="vehicleId">
                <option value="0">-SELECT-</option>
                <option th:each="vehicle:${vehicles}" th:value="${vehicle.id}" th:text="${vehicle.name}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="fromLocationId" class="col-form-label">From Location:</label>
              <select class="form-control" id="fromLocationId" name="fromLocationId">
                <option value="0">-SELECT-</option>
                <option th:each="location:${locations}" th:value="${location.id}" th:text="${location.description}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="fromDate" class="col-form-label">From Date:</label>
              <input type="date" class="form-control" id="fromDate" name="fromDate">
            </div>

            <div class="form-group">
              <label for="toLocationId" class="col-form-label">To Location:</label>
              <select class="form-control" id="toLocationId" name="toLocationId">
                <option value="0">-SELECT-</option>
                <option th:each="location:${locations}" th:value="${location.id}" th:text="${location.description}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="toDate" class="col-form-label">To Date:</label>
              <input type="date" class="form-control" id="toDate" name="toDate">
            </div>

            <div class="form-group">
              <label for="remarks" class="col-form-label">Remarks:</label>
              <input type="text" class="form-control" id="remarks" name="remarks">
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="submitButton"></button>
              <button type="button" class="btn btn-secondary" onclick="$('#modal').modal('hide');">Cancel</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <th:block th:replace="fragments/modal.html :: deleteModal"></th:block>

  <th:block th:replace="fragments/general.html :: footer"></th:block>
  <th:block th:replace="fragments/general.html :: javascriptImport"></th:block>

  <th:block th:replace="fragments/inlineJS/modalSet.html :: modalSet(entityName='Vehicle Movement', entityNamePlural='vehicleMovements')"></th:block>

</body>

</html>