<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vehicle Movement Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <th:block th:replace="fragments/general.html :: cssImport"></th:block>

  <script th:inline="javascript">
    var _objectName = 'Vehicle Movement';
    var objectsName = 'vehicleMovements';

    var objects = [[${ vehicleMovements }]];
  </script>
</head>

<body th:with="_objectName='Vehicle Movement', objectName='vehicleMovement', objectsName='vehicleMovements'">

  <th:block th:replace="fragments/general.html :: header"></th:block>
  <th:block th:replace="fragments/general.html :: sidebar"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Vehicle Movement</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">Vehicles</li>
          <li class="breadcrumb-item active"> Movements</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <th:block th:replace="fragments/table.html :: table(
        	properties = ${ {'id', 'vehicle.name', 'fromLocation.description', 'fromDate.toString().substring(0, 10)', 'toLocation.description', 'toDate.toString().substring(0, 10)'} },
        	labels = ${ {'Id', 'Vehicle', 'From Location', 'From Date', 'To Location', 'To Date' } })">
    </th:block>

  </main><!-- End #main -->

  <th:block th:replace="fragments/modal.html :: modal"></th:block>
  <th:block th:replace="fragments/modal.html :: deleteModal"></th:block>

  <th:block th:replace="fragments/general.html :: footer"></th:block>
  <th:block th:replace="fragments/general.html :: javascriptImport"></th:block>
  
  <th:block th:replace="fragments/general.html :: javascriptImportForModels"></th:block>

</body>

</html>