<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vehicle Hire Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link th:replace="@{/fragments/css.html}">
</head>

<body>

  <div th:replace="@{/fragments/header.html}"></div>
  <div th:replace="@{/fragments/sidebar.html}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Vehicle Hire</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">Vehicles</li>
          <li class="breadcrumb-item active">Vehicle Hires</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="addButton">New Vehicle Hire</button>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Vehicle</th>
          <th scope="col">Client</th>
          <th scope="col">Location</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="vehicleHire:${vehicleHires}">
          <td th:text="${vehicleHire.id}"></td>
          <td th:text="${vehicleHire.vehicle.name}"></td>
          <td th:text="${vehicleHire.client.name}"></td>
          <td th:text="${vehicleHire.location.description}"></td>
          <td>
            <div class="btn-group">
              <a th:href="@{/vehicleHires/findById/(id=${vehicleHire.id})}" class="btn btn-primary"
                id="editButton"><i class="bi bi-pencil-fill"></i></a>
              <a th:href="@{/vehicleHires/findById/(id=${vehicleHire.id})}" class="btn btn-success"
                id="detailsButton"><i class="bi bi-journal-bookmark-fill"></i></a>
              <a th:href="@{/vehicleHires/delete/(id=${vehicleHire.id})}" class="btn btn-danger"
                id="deleteButton"><i class="bi bi-trash-fill"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </main><!-- End #main -->

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel"></h5>
        </div>
        <div class="modal-body">
          <form id="form">

            <div class="form-group">
              <label for="id" class="col-form-label">Id:</label>
              <input type="text" class="form-control" id="id" name="id">
            </div>

            <div class="form-group">
              <label for="vehicleId" class="col-form-label">Vehicle:</label>
              <select class="form-control" id="vehicleId" name="vehicleId">
                <option value="0">-SELECT-</option>
                <option th:each="vehicle:${vehicles}" th:value="${vehicle.id}" th:text="${vehicle.name}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="dateOut" class="col-form-label">Date Out:</label>
              <input type="date" class="form-control" id="dateOut" name="dateOut">
            </div>

            <div class="form-group">
              <label for="timeOut" class="col-form-label">Time Out:</label>
              <input type="text" class="form-control" id="timeOut" name="timeOut">
            </div>

            <div class="form-group">
              <label for="dateIn" class="col-form-label">Date In:</label>
              <input type="date" class="form-control" id="dateIn" name="dateIn">
            </div>

            <div class="form-group">
              <label for="timeIn" class="col-form-label">Time In:</label>
              <input type="text" class="form-control" id="timeIn" name="timeIn">
            </div>

            <div class="form-group">
              <label for="clientId" class="col-form-label">Client:</label>
              <select class="form-control" id="clientId" name="clientId">
                <option value="0">-SELECT-</option>
                <option th:each="client:${clients}" th:value="${client.id}" th:text="${client.name}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="locationId" class="col-form-label">Location:</label>
              <select class="form-control" id="locationId" name="locationId">
                <option value="0">-SELECT-</option>
                <option th:each="location:${locations}" th:value="${location.id}" th:text="${location.description}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="price" class="col-form-label">Price:</label>
              <input type="text" class="form-control" id="price" name="price">
            </div>

            <div class="form-group">
              <label for="remarks" class="col-form-label">Remarks:</label>
              <input type="text" class="form-control" id="remarks" name="remarks">
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="submitButton"></button>
              <button type="button" class="btn btn-secondary" onclick="$('#modal').modal('hide');">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <div th:replace="@{/fragments/delete-modal.html}"></div>
  <div th:replace="@{/fragments/footer.html}"></div>

  <script th:replace="@{/fragments/javascript.html}"></script>
  <script th:src="@{/assets/js/vehicleHire.js}"></script>

</body>

</html>