<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Locations Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <th:block th:replace="fragments/general.html :: cssImport"></th:block>

  <script th:inline="javascript">
    var _objectName = 'Location';
    var objectsName = 'locations';

    var objects = [[${ locations }]];
    var states = [[${ states }]];
  </script>
</head>

<body th:with="_objectName='Location', objectName='location', objectsName='locations'">

  <th:block th:replace="fragments/general.html :: header"></th:block>
  <th:block th:replace="fragments/general.html :: sidebar"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Locations</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{index}">Home</a></li>
          <li class="breadcrumb-item">Globals</li>
          <li class="breadcrumb-item active">Locations</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <th:block th:replace="fragments/table.html :: table(
        properties = ${ {'id', 'description', 'city', 'address'} },
        labels = ${ {'Id', 'Description', 'City', 'Address'} })">
    </th:block>

  </main><!-- End #main -->

  <th:block th:replace="fragments/modal.html :: modal"></th:block>
  <th:block th:replace="fragments/modal.html :: deleteModal"></th:block>

  <th:block th:replace="fragments/general.html :: footer"></th:block>
  <th:block th:replace="fragments/general.html :: javascriptImport"></th:block>

  <th:block th:replace="fragments/general.html :: javascriptImportForModels"></th:block>

  <script th:inline="javascript">

    // setting rules from the validator added methods by its name and params
    $('document').ready(function () {

      $('#form').validate({
        rules: {
          description: { required: true, lengthRange: [4, 105], pascalCaseWithSpace: true },
          city: { required: true, lengthRange: [4, 105], pascalCaseWithSpace: true },
          address: { required: true, lengthRange: [4, 50] },
          countryId: { partOf: [[${ countries }]] },
          stateId: { partOf: [[${ states }]], stateInCountry: countryId }
        }
      });

      setUnique(['description', 'address']);
    });

  </script>

</body>

</html>