<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>States Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <th:block th:replace="fragments/general.html :: cssImport"></th:block>

  <script th:inline="javascript">
    var _objectName = 'State';
    var objectsName = 'states';

    var objects = [[${ states }]];
  </script>
</head>

<body th:with="_objectName='State', objectName='state', objectsName='states'">

  <th:block th:replace="fragments/general.html :: header"></th:block>
  <th:block th:replace="fragments/general.html :: sidebar"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List States</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">Globals</li>
          <li class="breadcrumb-item active">States</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <th:block th:replace="fragments/table.html :: table(
        properties = ${ { 'id', 'name', 'capital', 'code'} },
        labels = ${ {'Id', 'Name', 'Capital', 'Code' } })">
    </th:block>

  </main><!-- End #main -->
  
  <th:block th:replace="fragments/modal.html :: modal"></th:block>
  <th:block th:replace="fragments/modal.html :: deleteModal"></th:block>

  <th:block th:replace="fragments/general.html :: footer"></th:block>
  <th:block th:replace="fragments/general.html :: javascriptImport"></th:block>

  <th:block th:replace="fragments/general.html :: javascriptImportForModels"></th:block>

  <script th:inline="javascript">

    // setting rules from the validator added methods by its name and params
    $('document').ready(function () {
      
      $('#form').validate({
        rules: {
          name: { required: true, lengthRange: [4, 105], pascalCaseWithSpace: true },
          capital: { required: true, lengthRange: [4, 105], pascalCaseWithSpace: true },
          code: { required: true, fourDigitsOnly: true },
          countryId: { required: true, partOf: [[${ countries }]] }
        }
      });

      setUnique(['name', 'capital', 'code']);
    });

  </script>

</body>

</html>