<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Invoice Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <th:block th:replace="fragments/general.html :: cssImport"></th:block>

  <script th:inline="javascript">
    var _objectName = 'Invoice';
    var objectsName = 'invoices';

    var objects = [[${ invoices }]];
  </script>

</head>

<body th:with="_objectName='Invoice', objectName='invoice', objectsName='invoices'">

  <th:block th:replace="fragments/general.html :: header"></th:block>
  <th:block th:replace="fragments/general.html :: sidebar"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List invoices</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">Accounts</li>
          <li class="breadcrumb-item active">Invoices</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <th:block th:replace="fragments/table.html :: table(
      properties = ${ {'id', 'invoiceDate.toString().substring(0, 10)', 'invoiceStatus.description', 'client.name', 'remarks'} },
      labels = ${ {'Id', 'Date', 'Status', 'Client', 'Remarks' } })">
    </th:block>

  </main><!-- End #main -->

  <th:block th:replace="fragments/modal.html :: modal"></th:block>
  <th:block th:replace="fragments/modal.html :: deleteModal"></th:block>

  <th:block th:replace="fragments/general.html :: footer"></th:block>
  <th:block th:replace="fragments/general.html :: javascriptImport"></th:block>
  
  <th:block th:replace="fragments/general.html :: javascriptImportForModels"></th:block>

</body>

</html>