<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Job Titles Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <th:block th:replace="fragments/general.html :: cssImport"></th:block>

  <script th:inline="javascript">
    var _objectName = 'Job Title';
    var objectsName = 'jobTitles';

    var objects = [[${ jobTitles }]];
  </script>
</head>

<body th:with="_objectName='Job Title', objectName='jobTitle', objectsName='jobTitles'">

  <th:block th:replace="fragments/general.html :: header"></th:block>
  <th:block th:replace="fragments/general.html :: sidebar"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Job Titles</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">HR Settings</li>
          <li class="breadcrumb-item active">Job Titles</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <th:block th:replace="fragments/table.html :: table(
    	properties = ${ { 'id', 'description', 'details'} },
    	labels = ${ { 'Id', 'Description', 'Details'} })">
    </th:block>

  </main><!-- End #main -->

  <th:block th:replace="fragments/modal.html :: modal"></th:block>
  <th:block th:replace="fragments/modal.html :: deleteModal"></th:block>

  <th:block th:replace="fragments/general.html :: footer"></th:block>
  <th:block th:replace="fragments/general.html :: javascriptImport"></th:block>

  <th:block th:replace="fragments/general.html :: javascriptImportForModels"></th:block>

</body>

</html>