<script th:inline="javascript">
    $('document').ready(function () {

        // setting new methods with names for the validator
        jQuery.validator.addMethod('lengthRange', function (value, element, params) {
            return this.optional(element) || (value.length >= params[0] && value.length <= params[1]);
        }, 'Field length should be between {0} and {1}.');

        jQuery.validator.addMethod('pascalCaseWithSpace', function (value, element) {
            return this.optional(element) || /^[A-Z][a-z]+(?: [A-Z][a-z]+)*$/gm.test(value);
        }, 'Field should contains only letters with capitalized first and after space.');

        jQuery.validator.addMethod('fourDigitsOnly', function (value, element) {
            return this.optional(element) || /^[0-9]{4}$/i.test(value);
        }, 'Field should be 4 digits.');

        jQuery.validator.addMethod('country', function (value, element) {

            var list = [[${ countries }]];

            for (var i = 0; i < list.length; i++) {
                if (list[i]['id'] == value) {
                    return true;
                }
            }

            return false;
        }, 'Field should be country.');

        // there might be error in this function
        // before dropping the database id=2 (list[1]) returned id only
        // using params like exept list
        jQuery.validator.addMethod('unique', function (value, element, params) {
            
            var list = [[${states}]];
            var field = element['name'];
            
            for (var i = 0; i < list.length; i++) {

                // first check params == true (if params is empty) and then if value is inside
                // using || so when first is true (params is empty) don't treat it like array (.include)
                if (list[i][field] == value && (params == true || !params.includes(value))) {
                    return false;
                }
            }

            return true;
        }, 'Field must be unique.');

        // setting rules from the validator added methods by its name and params if have
        $('#form').validate({
            rules: {
                countryId: { required: true, country: true },
                capital: { required: true, pascalCaseWithSpace: true, lengthRange: [4, 105] },
                name: { required: true, pascalCaseWithSpace: true, lengthRange: [4, 105] },
                code: { required: true, fourDigitsOnly: true },
                details: {lengthRange: [4, 255]}
            }
        });

        $('#addButton').on('click', function() {
            setEmptyUnique(['name', 'code']);
        });

        $('table #editButton, table #detailsButton').on('click', function() {
            setUniqueWithExeptions(['name', 'code']);
        });
    });
</script>