<!-- template for dynamically creating table (based on object and properties), used in the model's views -->

<!-- @param properties is array of all the properties to be shown entity's values -->
<!-- used to loop trough when calling object.property (value) -->

<!-- @param lables is array of property labels to be shown as table headers -->
<!-- used to loop through and create table headers -->

<!-- @param objectsName is declared with 'th:with' in <body> in each model's page -->

<!-- __${?}__ (preprocessor) is used when sintactically first is called one method and then another -->
<!-- like: #{one__${two}__} or @{one__${two}__} and so... In this case method 'two' is called first and than 'one' -->

<th:block th:fragment="table (properties, labels)" th:with="objects = ${__${objectsName}__}">

    <!-- Add Button trigger modal -->
    <th:block th:if="${objectName} == 'vehicleHire'">
        <button type="button" class="btn btn-primary" id="addButton">New Record</button>
    </th:block>

    <th:block th:if="${objectName} == 'employee' or ${objectName} == 'client' or ${objectName} == 'supplier' or ${objectName} == 'contact' or ${objectName} == 'invoice'">
        <button sec:authorize="hasAuthority('Human Resource')" type="button" class="btn btn-primary" id="addButton">New Record</button>
    </th:block>

    <th:block th:unless="${objectName} == 'vehicleHire'">
        <button sec:authorize="hasAnyAuthority('Manager', 'Admin', 'Super Admin')" type="button" class="btn btn-primary" id="addButton">New Record</button>
    </th:block> <!-- End Add Button trigger modal -->

    <!-- Default Table -->
    <table class="table">

        <thead>

            <tr>
                <th scope="col" th:each="label : ${labels}" th:text="${label}"></th>
                <th scope="col">Actions</th>
            </tr>

        </thead>

        <tbody>

            <tr th:each="object : ${objects}">
                <td th:each="property : ${properties}" th:text="${object.__${property}__}"></td>
                <td>
                    <div class="btn-group">

                        <!-- Edit Button trigger modal -->
                        <th:block th:if="${objectName} == 'employee' or ${objectName} == 'client' or ${objectName} == 'supplier' or ${objectName} == 'contact' or ${objectName} == 'invoice' or ${objectName} == 'vehicleHire'">
                            <a sec:authorize="hasAnyAuthority('Human Resource')" th:href="@{/__${objectsName}__/findById/(id=${object.id})}" class="btn btn-primary" id="editButton"><i class="bi bi-pencil-fill"></i></a>
                        </th:block>
                        
                        <a sec:authorize="hasAnyAuthority('Manager', 'Admin', 'Super Admin')" th:href="@{/__${objectsName}__/findById/(id=${object.id})}" class="btn btn-primary" id="editButton"><i class="bi bi-pencil-fill"></i></a>
                        <!-- End Edit Button trigger modal -->

                        <!-- Details Button trigger modal -->
                        <a th:href="@{/__${objectsName}__/findById/(id=${object.id})}" class="btn btn-success" id="detailsButton"><i class="bi bi-journal-bookmark-fill"></i></a>

                        <!-- Delete Button trigger modal -->
                        <th:block th:if="${objectName} == 'vehicleHire'">
                            <a sec:authorize="hasAnyAuthority('Human Resource', 'Manager')" th:href="@{/__${objectsName}__/delete/(id=${object.id})}" class="btn btn-danger" id="deleteButton"><i class="bi bi-trash-fill"></i></a>
                        </th:block>
                        
                        <a sec:authorize="hasAnyAuthority('Admin', 'Super Admin')" th:href="@{/__${objectsName}__/delete/(id=${object.id})}" class="btn btn-danger" id="deleteButton"><i class="bi bi-trash-fill"></i></a>
                        <!-- End Delete Button trigger modal -->
                    </div>
                </td>
            </tr>

        </tbody>

    </table><!-- End Default Table -->

</th:block>