<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Actors Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <th:block th:replace="fragments/general.html :: cssImport"></th:block>
</head>

<body>

  <th:block th:replace="fragments/general.html :: header"></th:block>
  <th:block th:replace="fragments/general.html :: sidebar"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Actors</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">People</li>
          <li class="breadcrumb-item active">Actors</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <!-- Default Table -->
    <table class="table table-striped table-advance table-hover">
      <tbody>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
          <th></th>
        </tr>
        <tr th:each="actor:${actors}">
          <td th:text="${actor.firstName}"></td>
          <td th:text="${actor.lastName}"></td>
          <td th:text="${actor.username}"></td>
          <td><a th:href="@{'/security/actor/Edit/'+${actor.id}}" class="btn btn-default">
              <i class="bi bi-pencil-fill"></i>Manage Roles</a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- End Default Table -->

  </main><!-- End #main -->

  <th:block th:replace="fragments/modal.html :: deleteModal"></th:block>

  <th:block th:replace="fragments/general.html :: footer"></th:block>
  <th:block th:replace="fragments/general.html :: javascriptImport"></th:block>

</body>

</html>