<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contacts Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <th:block th:replace="fragments/general.html :: cssImport"></th:block>
</head>

<body>

  <th:block th:replace="fragments/general.html :: header"></th:block>
  <th:block th:replace="fragments/general.html :: sidebar"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Contacts</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">People</li>
          <li class="breadcrumb-item active">Contacts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <th:block
      th:replace="fragments/table.html :: table(objects = ${contacts}, objName = 'contacts', fieldNames = ${ { 'id', 'firstName', 'lastName', 'email', 'remarks'} })">
    </th:block>

  </main><!-- End #main -->

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel"></h5>
        </div>
        <div class="modal-body">
          <form id="form">

            <div class="form-group">
              <label for="id" class="col-form-label">Id:</label>
              <input type="text" class="form-control" id="id" name="id">
            </div>

            <div class="form-group">
              <label for="firstName" class="col-form-label">First Name:</label>
              <input type="text" class="form-control" id="firstName" name="firstName">
            </div>

            <div class="form-group">
              <label for="lastName" class="col-form-label">Last Name:</label>
              <input type="text" class="form-control" id="lastName" name="lastName">
            </div>

            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" class="form-control" id="phone" name="phone">
            </div>

            <div class="form-group">
              <label for="mobile" class="col-form-label">Mobile:</label>
              <input type="text" class="form-control" id="mobile" name="mobile">
            </div>

            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="form-group">
              <label for="remarks" class="col-form-label">Remarks:</label>
              <input type="text" class="form-control" id="remarks" name="remarks">
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="submitButton">Create</button>
              <button type="button" class="btn btn-secondary" onclick="$('#modal').modal('hide');">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <th:block th:replace="fragments/modal.html :: deleteModal"></th:block>

  <th:block th:replace="fragments/general.html :: footer"></th:block>
  <th:block th:replace="fragments/general.html :: javascriptImport"></th:block>

  <th:block th:replace="fragments/inlineJS/modalSet.html :: modalSet(entityName='Contact', entityNamePlural='contacts')"></th:block>

</body>

</html>