<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contacts Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link th:replace="@{/fragments/css.html}">
</head>

<body>

  <div th:replace="@{/fragments/header.html}"></div>
  <div th:replace="@{/fragments/sidebar.html}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Contacts</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">People</li>
          <li class="breadcrumb-item active">Contacts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="addButton">New Contact</button>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Remarks</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="contact:${contacts}">
          <td th:text="${contact.id}"></td>
          <td th:text="${contact.firstName}"></td>
          <td th:text="${contact.lastName}"></td>
          <td th:text="${contact.email}"></td>
          <td th:text="${contact.remarks}"></td>
          <td>
            <div class="btn-group">
              <a th:href="@{/contacts/findById/(id=${contact.id})}" class="btn btn-primary" id="editButton"><i
                  class="bi bi-pencil-fill"></i></a>
              <a th:href="@{/contacts/findById/(id=${contact.id})}" class="btn btn-success" id="detailsButton"><i
                  class="bi bi-journal-bookmark-fill"></i></a>
              <a th:href="@{/contacts/delete/(id=${contact.id})}" class="btn btn-danger" id="deleteButton"><i
                  class="bi bi-trash-fill"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </main><!-- End #main -->

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel"></h5>
        </div>
        <div class="modal-body">
          <form id="form">

            <div class="form-group">
              <label for="id" class="col-form-label">Id:</label>
              <input type="text" class="form-control" id="id" name="id">
            </div>

            <div class="form-group">
              <label for="firstName" class="col-form-label">First Name:</label>
              <input type="text" class="form-control" id="firstName" name="firstName">
            </div>

            <div class="form-group">
              <label for="lastName" class="col-form-label">Last Name:</label>
              <input type="text" class="form-control" id="lastName" name="lastName">
            </div>

            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" class="form-control" id="phone" name="phone">
            </div>

            <div class="form-group">
              <label for="mobile" class="col-form-label">Mobile:</label>
              <input type="text" class="form-control" id="mobile" name="mobile">
            </div>

            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="form-group">
              <label for="remarks" class="col-form-label">Remarks:</label>
              <input type="text" class="form-control" id="remarks" name="remarks">
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="submitButton">Create</button>
              <button type="button" class="btn btn-secondary"
                onclick="$('#modal').modal('hide');">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <div th:replace="@{/fragments/delete-modal.html}"></div>
  <div th:replace="@{/fragments/footer.html}"></div>

  <script th:replace="@{/fragments/javascript.html}"></script>
  <script th:src="@{/assets/js/test.js}"></script>

</body>

</html>