<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Employees Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link th:replace="@{/fragments/css.html}">
</head>

<body>

  <div th:replace="@{/fragments/header.html}"></div>
  <div th:replace="@{/fragments/sidebar.html}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Employees</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">People</li>
          <li class="breadcrumb-item active">Employees</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="addButton">New Employee</button>

    <table class="table">
      <thead>
        <tr>
          <th>Photo</th>
          <th scope="col">Id</th>
          <th scope="col">Full Name</th>
          <th scope="col">Username</th>
          <th scope="col">Job Title</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="employee:${employees}">
          <td>
            <a id="photoButton" th:href="@{'/assets/img/employeePhotos/' + ${employee.id} + '.jpg'}">
              <img th:src="@{'/assets/img/employeePhotos/' + ${employee.id} + '.jpg'}" width="40" height="40">
            </a>
          </td>
          <td th:text="${employee.id}"></td>
          <td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
          <td><a th:text="${employee.username} ?: 'Check'"
              th:href="@{/employees/assignUsername/(id=${employee.id})}"></a></td>
          <td th:text="${employee.jobTitle.description}"></td>
          <td>
            <div class="btn-group">
              <a th:href="@{/employees/findById/(id=${employee.id})}" class="btn btn-primary" id="editButton"><i
                  class="bi bi-pencil-fill"></i></a>
              <a th:href="@{/employees/findById/(id=${employee.id})}" class="btn btn-success" id="detailsButton"><i
                  class="bi bi-journal-bookmark-fill"></i></a>
              <a th:href="@{/employees/delete/(id=${employee.id})}" class="btn btn-danger" id="deleteButton"><i
                  class="bi bi-trash-fill"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </main><!-- End #main -->

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel"></h5>
        </div>
        <div class="modal-body">
          <form id="form">
            <table width="100%">
              <tr>
                <td width="50%">

                  <div class="form-group row">
                    <label for="id" class="col-sm-4 col-form-label">Id:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="id" name="id">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="title" class="col-sm-4 col-form-label">Title:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="title" name="title">
                        <option value="0">-SELECT-</option>
                        <option value="MALE">Mr.</option>
                        <option value="FEMAL">Ms.</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="initials" class="col-sm-4 col-form-label">Initials:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="initials" name="initials">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="socialSecurityNumber" class="col-sm-4 col-form-label">Social Security No.:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="socialSecurityNumber" name="socialSecurityNumber">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="firstName" class="col-sm-4 col-form-label">First Name:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="firstName" name="firstName">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="lastName" class="col-sm-4 col-form-label">Last Name: </label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="lastName" name="lastName">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="otherName" class="col-sm-4 col-form-label">Other Name:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="otherName" name="otherName">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="gender" class="col-sm-4 col-form-label">Gender:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="gender" name="gender">
                        <option value="0">-SELECT-</option>
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="countryId" class="col-sm-4 col-form-label">Nationality:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="countryId" name="countryId">
                        <option value="0">-SELECT-</option>
                        <option th:each="country:${countries}" th:value="${country.id}"
                          th:text="${country.description}">
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="address" class="col-sm-4 col-form-label">Address</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="address" name="address">
                    </div>
                  </div>

                </td>
                <td width="50%" style="padding-left:10px">

                  <div class="form-group row">
                    <label for="dateOfBirth" class="col-sm-4 col-form-label">Date of Birth:</label>
                    <div class="col-sm-6">
                      <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="hireDate" class="col-sm-4 col-form-label">Hire Date:</label>
                    <div class="col-sm-6">
                      <input type="date" class="form-control" id="hireDate" name="hireDate">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="stateId" class="col-sm-4 col-form-label">State:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="stateId" name="stateId">
                        <option value="0">-SELECT-</option>
                        <option th:each="state:${states}" th:value="${state.id}" th:text="${state.name}">
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="city" class="col-sm-4 col-form-label">City:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="city" name="city">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="phone" class="col-sm-4 col-form-label">Phone:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="mobile" class="col-sm-4 col-form-label">Mobile:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="mobile" name="mobile">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="maritalStatus" class="col-sm-4 col-form-label">Marital Status:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="maritalStatus" name="maritalStatus">
                        <option value="0">-SELECT-</option>
                        <option value="Married">Married</option>
                        <option value="Single">Single</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Email:</label>
                    <div class="col-sm-6">
                      <input type="email" class="form-control" id="email" name="email">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="jobTitleId" class="col-sm-4 col-form-label">Job Title:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="jobTitleId" name="jobTitleId">
                        <option value="0">-SELECT-</option>
                        <option th:each="jobTitle:${jobTitles}" th:value="${jobTitle.id}"
                          th:text="${jobTitle.description}">
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="employeeTypeId" class="col-sm-4 col-form-label">Employee Type:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="employeeTypeId" name="employeeTypeId">
                        <option value="0">-SELECT-</option>
                        <option th:each="employeeType : ${employeeTypes}" th:value="${employeeType.id}"
                          th:text="${employeeType.description}">
                        </option>
                      </select>
                    </div>
                  </div>

                </td>
              </tr>
            </table>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="submitButton"></button>
              <button type="button" class="btn btn-secondary" onclick="$('#modal').modal('hide');">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <!-- Photo Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="photoModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Photo</h5>
          <button type="button" class="close" onclick="$('#photoModal').modal('hide');">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="employeePhoto" src="" width="90%" height="90%">
        </div>
      </div>
    </div>
  </div>
  <!-- End Photo Modal -->

  <div th:replace="@{/fragments/delete-modal.html}"></div>
  <div th:replace="@{/fragments/footer.html}"></div>

  <script th:replace="@{/fragments/javascript.html}"></script>
  <script th:src="@{/assets/js/employee.js}"></script>

</body>

</html>