<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Employees Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <th:block th:replace="fragments/general.html :: cssImport"></th:block>

  <script th:inline="javascript">
    var _objectName = 'Employee';
    var objectsName = 'employees';

    var objects = [[${ employees }]];
    var states = [[${ states }]];
  </script>
</head>

<body th:with="_objectName='Employee', objectName='employee', objectsName='employees'">

  <th:block th:replace="fragments/general.html :: header"></th:block>
  <th:block th:replace="fragments/general.html :: sidebar"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Employees</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">People</li>
          <li class="breadcrumb-item active">Employees</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="addButton">New Employee</button>

    <table class="table">
      <thead>
        <tr>
          <th>Photo</th>
          <th scope="col">Id</th>
          <th scope="col">Full Name</th>
          <th scope="col">Username</th>
          <th scope="col">Job Title</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="employee:${employees}">
          <td>
            <a id="photoButton" th:href="@{'/assets/img/employeePhotos/' + ${employee.id} + '.jpg'}">
              <img th:src="@{'/assets/img/employeePhotos/' + ${employee.id} + '.jpg'}" width="40" height="40">
            </a>
          </td>
          <td th:text="${employee.id}"></td>
          <td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
          <td><a th:text="${employee.username} ?: 'Check'"
              th:href="@{/employees/assignUsername/(id=${employee.id})}"></a></td>
          <td th:text="${employee.jobTitle.description}"></td>
          <td>
            <div class="btn-group">
              <a th:href="@{/employees/findById/(id=${employee.id})}" class="btn btn-primary" id="editButton"><i
                  class="bi bi-pencil-fill"></i></a>
              <a th:href="@{/employees/findById/(id=${employee.id})}" class="btn btn-success" id="detailsButton"><i
                  class="bi bi-journal-bookmark-fill"></i></a>
              <a th:href="@{/employees/delete/(id=${employee.id})}" class="btn btn-danger" id="deleteButton"><i
                  class="bi bi-trash-fill"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </main><!-- End #main -->


  <th:block th:replace="fragments/modal.html :: modal"></th:block>
  <th:block th:replace="fragments/modal.html :: deleteModal"></th:block>

  <!-- Photo Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="photoModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Photo</h5>
          <button type="button" class="close" onclick="$('#photoModal').modal('hide');">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="employeePhoto" src="" width="90%" height="90%">
        </div>
      </div>
    </div>
  </div>
  <!-- End Photo Modal -->

  <th:block th:replace="fragments/general.html :: footer"></th:block>
  <th:block th:replace="fragments/general.html :: javascriptImport"></th:block>

  <th:block th:replace="fragments/general.html :: javascriptImportForModels"></th:block>

  <script th:inline="javascript">

    // setting rules from the validator added methods by its name and params
    $('document').ready(function () {

      $('#form').validate({
        rules: {
          title: { partOf: ['Mr.', 'Ms.'] },
          initials: { upperCase: true },
          firstName: { required: true, pascalCaseWithSpace: true },
          lastName: { required: true, pascalCaseWithSpace: true },
          otherName: { pascalCaseWithSpace: true },
          gender: { partOf: ['Male', 'Female'] },
          countryId: { partOf: [[${ countries }]] },
          stateId: { partOf: [[${ states }]], stateInCountry: countryId },
          city: { required: true, lengthRange: [4, 105], pascalCaseWithSpace: true },
          phone: { phoneNumber: true },
          mobile: { required: true, phoneNumber: true },
          maritalStatus: { partOf: ['Married', 'Single'] },
          jobTitleId: { partOf: [[${jobTitles}]] },
          employeeTypeId: { partOf: [[${employeeTypes}]] }
        }
      });

      setUnique(['phone', 'mobile']);
    });

  </script>

</body>

</html>