<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Suppliers Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link th:replace="@{/fragments/css.html}">
</head>

<body>

  <div th:replace="@{/fragments/header.html}"></div>
  <div th:replace="@{/fragments/sidebar.html}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>List Suppliers</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">People</li>
          <li class="breadcrumb-item active">Suppliers</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="addButton">New Supplier</button>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">City</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="supplier:${suppliers}">
          <td th:text="${supplier.id}"></td>
          <td th:text="${supplier.name}"></td>
          <td th:text="${supplier.city}"></td>
          <td th:text="${supplier.address}"></td>
          <td>
            <div class="btn-group">
              <a th:href="@{/suppliers/findById/(id=${supplier.id})}" class="btn btn-primary" id="editButton"><i
                  class="bi bi-pencil-fill"></i></a>
              <a th:href="@{/suppliers/findById/(id=${supplier.id})}" class="btn btn-success" id="detailsButton"><i
                  class="bi bi-journal-bookmark-fill"></i></a>
              <a th:href="@{/suppliers/delete/(id=${supplier.id})}" class="btn btn-danger" id="deleteButton"><i
                  class="bi bi-trash-fill"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </main><!-- End #main -->

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel"></h5>
        </div>
        <div class="modal-body">
          <form id="form">

            <div class="form-group">
              <label for="id" class="col-form-label">Id:</label>
              <input type="text" class="form-control" id="id" name="id">
            </div>

            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="form-group">
              <label for="address" class="col-form-label">Address:</label>
              <input type="text" class="form-control" id="address" name="address">
            </div>

            <div class="form-group">
              <label for="city" class="col-form-label">City:</label>
              <input type="text" class="form-control" id="city" name="city">
            </div>

            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" class="form-control" id="phone" name="phone">
            </div>

            <div class="form-group">
              <label for="mobile" class="col-form-label">Mobile:</label>
              <input type="text" class="form-control" id="mobile" name="mobile">
            </div>

            <div class="form-group">
              <label for="website" class="col-form-label">Website:</label>
              <input type="text" class="form-control" id="website" name="website">
            </div>

            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="form-group">
              <label for="countryId" class="col-form-label">Country:</label>
              <select class="form-control" id="countryId" name="countryId">
                <option value="0">-SELECT-</option>
                <option th:each="country:${countries}" th:value="${country.id}" th:text="${country.description}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="stateId" class="col-form-label">State:</label>
              <select class="form-control" id="stateId" name="stateId">
                <option value="0">-SELECT-</option>
                <option th:each="state:${states}" th:value="${state.id}" th:text="${state.name}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="details" class="col-form-label">Details:</label>
              <input type="text" class="form-control" id="details" name="details">
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="submitButton"></button>
              <button type="button" class="btn btn-secondary" onclick="$('#modal').modal('hide');">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
  
  <div th:replace="@{/fragments/delete-modal.html}"></div>
  <div th:replace="@{/fragments/footer.html}"></div>

  <script th:replace="@{/fragments/javascript.html}"></script>
  <script th:src="@{/assets/js/supplier.js}"></script>

</body>

</html>