<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Access Denied</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <th:block th:replace="fragments/general.html :: cssImport"></th:block>
</head>

<body>

  <th:block th:replace="fragments/general.html :: header"></th:block>
  <th:block th:replace="fragments/general.html :: sidebar"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>Access Denied</h3>

  </main><!-- End #main -->

  <th:block th:replace="fragments/general.html :: footer"></th:block>
  <th:block th:replace="fragments/general.html :: javascriptImport"></th:block>

</body>

</html>