<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Error</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link th:replace="@{/fragments/css.html}">
</head>

<body>

  <div th:replace="@{/fragments/header.html}"></div>
  <div th:replace="@{/fragments/sidebar.html}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h3>Error</h3>

  </main><!-- End #main -->

  <div th:replace="@{/fragments/footer.html}"></div>
  <script th:replace="@{/fragments/javascript.html}"></script>

</body>

</html>